{% extends "home/base.html" %}
{% block main_content %}
<div class="posts-container">
        <div class="post-card">
            <div class="user-info">

                <img class="profile-img" src="{{post.user.profile.image.url}}"/>
                <h1 class="post-user">{{post.user}}</h1>
            </div>
            <div class="post-info">
                <div class="post-row">
                    <h3 class="post-title"><a class="title-link" href="#">{{post.title}}</a></h3>
                    <small class="post-date">{{post.post_date}}</small>
                    <div class="post-actions">
                        {% if post.user == request.user %}
                            <a href="{% url 'post-delete' post.id %}" class="btn btn-outline-danger">Delete</a>
                            <a href="{% url 'post-update' post.id %}" class="btn btn-outline-info">edit</a>
                        {% endif %}
                    </div>
                </div>
                <hr/>
                <p class="post-content">{{post.post_content}}</p>
            </div>
        </div>

{% endblock main_content %}